---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="About us - One Night."
  content="About us - One Night. - One Night Stand Entertainment, the innovative force behind One
      Night, the premier dating app designed to connect people for whatever they
      seek—be it a spark, a relationship, a date, a hookup, or a one-night
      stand. We are committed to creating an inclusive and dynamic platform that
      caters to diverse romantic and social needs."
>
  <main class="px-9 lg:px-[186px] py-8 font-medium">
    <h1>About Us</h1>
    <p class="mb-6">
      Welcome to One Night Stand Entertainment, the innovative force behind One
      Night, the premier dating app designed to connect people for whatever they
      seek—be it a spark, a relationship, a date, a hookup, or a one-night
      stand. We are committed to creating an inclusive and dynamic platform that
      caters to diverse romantic and social needs.
    </p>
    <h3>Our Mission</h3>
    <p class="mb-6">
      Our mission at One Night Stand Entertainment is to revolutionize the
      dating experience by providing a safe, user-friendly, and engaging
      platform where individuals can explore various types of connections. We
      believe in the power of choice and aim to empower our users to find
      exactly what they’re looking for.
    </p>
    <h3>Our Vision</h3>
    <p>
      We envision a world where everyone has the freedom and opportunity to
      connect on their own terms. By leveraging advanced technology and
      fostering a respectful community, we aim to make meaningful, fun, and
      memorable connections accessible to all. Our Product: One Night
    </p>
    <p class="mb-6">
      One Night is more than just a dating app; it’s a community where you can
      find your spark, whatever that means to you.
    </p>
    <ul class="list-disc mb-6">
      With One Night, you can:
      <li class="ml-6">
        Explore Diverse Connections: Whether you’re looking for a serious
        relationship, casual dating, a hookup, or a one-night stand, our app
        caters to all your desires.
      </li>
      <li class="ml-6">
        User-Friendly Experience: Our intuitive design ensures a seamless and
        enjoyable user experience, making it easy to find and connect with
        like-minded individuals.
      </li>
      <li class="ml-6">
        Safe and Secure: Your privacy and security are our top priorities. We
        employ cutting-edge security measures to protect your personal
        information.
      </li>
      <li class="ml-6">
        Inclusive Community: Join a vibrant and diverse community that respects
        and celebrates all types of connections.
      </li>
    </ul>
    <ul class="list-disc mb-6">
      Our Values
      <li class="ml-6">
        Inclusivity: We welcome users from all backgrounds and orientations,
        fostering an environment of respect and acceptance.
      </li>
      <li class="ml-6">
        Innovation: We continuously innovate to provide the best features and
        user experience in the dating app industry.
      </li>
      <li class="ml-6">
        Empowerment: We empower our users to take control of their dating
        journey and make connections that are meaningful to them.
      </li>
      <li class="ml-6">
        Integrity: We operate with transparency and honesty, ensuring that our
        users can trust us to provide a safe and reliable platform.
      </li>
    </ul>
    <h3>Join Us</h3>
    <p>
      Join One Night Stand Entertainment and become part of a dynamic community
      where you can find your spark, whatever it may be. Discover the
      possibilities with One Night today.
    </p>
    <p>
      For more information, feel free to contact us at <a
        href="mailto:hello@askforonenight.com"
        class="hover:underline">hello@askforonenight.com</a
      >, <a href="telto:+2348126739434" class="hover:underline"
        >+234 81 2673 9434</a
      >.
    </p>
  </main>
</Layout>
