---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Community guidelines - One Night."
  content="Community guidelines - One Night."
>
  <main class="px-9 lg:px-[186px] py-8 font-medium">
    <h1>One Night Community Guidelines</h1>
    <p class="mb-6">
      Welcome to One Night! We strive to create a safe, respectful, and
      enjoyable environment for everyone. To ensure a positive experience for
      all users, we have established the following community guidelines. By
      using One Night, you agree to abide by these guidelines. Violating any of
      these guidelines may result in the suspension or termination of your
      account.
    </p>

    <ul class="list-disc">
      1. Respect and Kindness
      <li class="ml-6">
        Be Respectful: Treat others with kindness and respect. Discriminatory,
        offensive, or abusive behavior will not be tolerated.
      </li>
      <li class="ml-6">
        No Harassment: Harassment, bullying, or any form of intimidation is
        strictly prohibited. Respect other users' boundaries and personal space.
      </li>
    </ul>
    <ul class="list-disc">
      2. Authenticity and Honesty
      <li class="ml-6">
        Be Yourself: Use your real name and authentic photos. Do not impersonate
        others or create fake profiles.
      </li>
      <li class="ml-6">
        Honest Representation: Provide accurate information about yourself.
        Misleading or deceptive information is not allowed.
      </li>
    </ul>
    <ul class="list-disc">
      3. Safety and Privacy
      <li class="ml-6">
        Protect Personal Information: Do not share your or others' personal
        information (such as home address, phone number, financial information)
        publicly on the app.
      </li>
      <li class="ml-6">
        Report Suspicious Activity: Report any suspicious behavior, scams, or
        fraud to our support team immediately.
      </li>
    </ul>
    <ul class="list-disc">
      4. Appropriate Content
      <li class="ml-6">
        No Inappropriate Content: Do not post or share explicit, obscene, or
        sexually suggestive content.
      </li>
      <li class="ml-6">
        No Hate Speech: Content promoting hate, violence, or discrimination
        based on race, ethnicity, religion, gender, sexual orientation, or
        disability is strictly prohibited.
      </li>
      <li class="ml-6">
        Respect Intellectual Property: Do not post content that you do not own
        or do not have permission to use.
      </li>
    </ul>
    <ul class="list-disc">
      5. Interactions and Communication
      <li class="ml-6">
        Consent is Key: Always ensure that your interactions and communications
        are consensual. Respect others' decisions if they do not wish to engage.
      </li>
      <li class="ml-6">
        Consent is Key: Always ensure that your interactions and communications
        are consensual. Respect others' decisions if they do not wish to engage.
      </li>
    </ul>
    <ul class="list-disc">
      6. Compliance with Laws
      <li class="ml-6">
        Follow the Law: Comply with all applicable laws and regulations. Do not
        use the app for any illegal activities.
      </li>
      <li class="ml-6">
        Age Requirement: You must be at least 18 years old to use One Night. Do
        not misrepresent your age.
      </li>
    </ul>
    <ul class="list-disc">
      7. Reporting and Enforcement
      <li class="ml-6">
        Report Violations: If you encounter behaviour that violates these
        guidelines, report it to our support team using the in-app reporting
        feature or by contacting <a
          href="mailto:hello@askforonenight.com"
          class="hover:underline">hello@askforonenight.com</a
        >
      </li>
      <li class="ml-6">
        Consequences: Violations of these guidelines may result in warnings,
        temporary suspension, or permanent termination of your account,
        depending on the severity of the violation.
      </li>
    </ul>
    <ul class="list-disc">
      8. Safety Tips
      <li class="ml-6">
        Meet in Public: When meeting someone for the first time, choose a public
        place and inform a friend or family member of your plans.
      </li>
      <li class="ml-6">
        Trust Your Instincts: If something feels off or uncomfortable, trust
        your instincts and remove yourself from the situation.
      </li>
      <li class="ml-6">
        Protect Your Account: Use a strong password and keep your account
        information secure.
      </li>
    </ul>
    <ul class="list-disc">
      9. Community Engagement
      <li class="ml-6">
        Positive Contributions: Engage positively with the community. Share
        constructive feedback, participate in discussions, and contribute to a
        supportive environment.
      </li>
      <li class="ml-6">
        Respect Differences: Embrace and respect the diversity of our community.
        Everyone has different perspectives and experiences.
      </li>
    </ul>
    <ul class="list-disc">
      10. Updates and Changes
      <li class="ml-6">
        Stay Informed: We may update these guidelines periodically. Stay
        informed by reviewing the guidelines regularly. Continued use of the app
        implies acceptance of any changes.
      </li>
    </ul>
  </main>
</Layout>
