---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Privacy Policy - One Night."
  content="Privacy Policy - One Night."
>
  <main class="px-9 lg:px-[186px] py-8 font-medium">
    <h1>Privacy Policy</h1>
    <p>Effective Date: 08 July 2024</p>
    <h3>Introduction</h3>
    <p class="mb-6">
      Welcome to One Night! We value your privacy and are committed to
      protecting your personal data. This Privacy Policy explains how we
      collect, use, disclose, and safeguard your information when you use our
      dating app. Please read this policy carefully to understand our views and
      practices regarding your personal data and how we will treat it.
    </p>
    <h3>1. Information We Collect</h3>
    <p>
      We collect several types of information for various purposes to provide
      and improve our service to you.
    </p>

    <ul class="list-disc">
      a. Information You Provide to Us
      <li class="ml-6">
        Account Information: When you register for an account, we collect your
        name, email address, phone number, date of birth, gender, and other
        personal information.
      </li>
      <li class="ml-6">
        Profile Information: You may also choose to provide additional
        information as part of your profile, such as photographs, interests,
        location, and a personal description.
      </li>
      <li class="ml-6">
        Payment Information: If you purchase any premium features, we collect
        your payment information, such as credit card details.
      </li>
    </ul>
    <ul class="list-disc">
      b. Information We Collect Automatically
      <li class="ml-6">
        Usage Data: We collect information on how you access and use the app,
        such as your interactions with other users, the content you view, and
        the features you use.
      </li>
      <li class="ml-6">
        Device Information: We collect information about the device you use to
        access our app, including the IP address, device type, operating system,
        and browser type.
      </li>
    </ul>
    <ul class="list-disc">
      c. Information from Third Parties
      <li class="ml-6">
        Social Media Information: If you choose to link your social media
        account with One Night, we may collect information from these accounts,
        such as your name, profile picture, and friend list.
      </li>
    </ul>
    <h4>2. How We Use Your Information</h4>
    <ul class="list-disc">
      We use the information we collect for various purposes, including:
      <li class="ml-6">To provide and maintain our service.</li>
      <li class="ml-6">To personalize your experience on the app.</li>
      <li class="ml-6">To manage your account and provide customer support.</li>
      <li class="ml-6">
        To process transactions and send you related information, including
        purchase confirmations and invoices.
      </li>
      <li class="ml-6">
        To communicate with you, including sending you updates, security alerts,
        and support messages.
      </li>
      <li class="ml-6">
        To monitor and analyze usage and trends to improve our app.
      </li>
      <li class="ml-6">
        To protect the rights and safety of our users and the public.
      </li>
      <li class="ml-6">To ensure compliance with legal obligations.</li>
    </ul>
    <h4>3. How We Share Your Information</h4>
    <ul class="list-disc">
      We may share your information in the following circumstances:
      <li class="ml-6">
        With other users: Your profile information will be visible to other
        users of the app.
      </li>
      <li class="ml-6">
        With service providers: We may share your information with third-party
        service providers who perform services on our behalf.
      </li>
      <li class="ml-6">
        For legal reasons: We may disclose your information if required to do so
        by law or in response to valid requests by public authorities.
      </li>
      <li class="ml-6">
        In business transfers: If we are involved in a merger, acquisition, or
        sale of assets, your information may be transferred.
      </li>
    </ul>
    <h4>Security of Your Information</h4>
    <p>
      We use administrative, technical, and physical security measures to help
      protect your personal information. While we strive to use commercially
      acceptable means to protect your personal data, we cannot guarantee its
      absolute security.
    </p>
    <h4>5. Your Data Protection Rights</h4>
    <ul class="list-disc">
      Depending on your location, you may have the following rights regarding
      your personal data:
      <li class="ml-6">
        The right to access: You have the right to request copies of your
        personal data.
      </li>
      <li class="ml-6">
        The right to rectification: You have the right to request that we
        correct any information you believe is inaccurate.
      </li>
      <li class="ml-6">
        The right to erasure: You have the right to request that we erase your
        personal data under certain conditions.
      </li>
      <li class="ml-6">
        The right to restrict processing: You have the right to request that we
        restrict the processing of your personal data.
      </li>
      <li class="ml-6">
        The right to object to processing: You have the right to object to our
        processing of your personal data.
      </li>
      <li class="ml-6">
        The right to data portability: You have the right to request that we
        transfer the data that we have collected to another organization or
        directly to you.
      </li>
    </ul>
    <h4>6. Children's Privacy</h4>
    <p>
      Our service is not intended for anyone under the age of 18. We do not
      knowingly collect personal information from children under 18. If we
      become aware that we have collected personal information from a child
      under 18, we will take steps to remove that information from our servers.
    </p>
    <h4>7. Changes to This Privacy Policy</h4>
    <p>
      We may update our Privacy Policy from time to time. We will notify you of
      any changes by posting the new Privacy Policy on this page and updating
      the "Effective Date" at the top. You are advised to review this Privacy
      Policy periodically for any changes.
    </p>
    <h4>8. Contact Us</h4>
    <p>
      If you have any questions about this Privacy Policy, please contact us at:
    </p>
    <a href="telto:+2348126739434" class="hover:underline block"
      >Phone: +234 81 2673 9434.</a
    >
    <a href="mailto:hello@askforonenight.com" class="hover:underline block"
      >Email: hello@askforonenight.com</a
    >
  </main>
</Layout>
