---
import "../styles/global.css";
import { slide, ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
  content: string;
}

const { title, content } = Astro.props;
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="icon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title}</title>
    <ViewTransitions />
    <meta name="description" {content} />

    <!-- Facebook Meta Tags -->
    <meta
      property="og:url"
      content="https://www.dynamictotalservices.com.au/"
    />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Dynamic Total Services" />
    <meta property="og:description" {content} />
    <meta
      property="og:image"
      content="https://res.cloudinary.com/dddjzeutf/image/upload/v1692365778/og-image_gh8bz7.png"
    />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="dynamictotalservices.com.au" />
    <meta
      property="twitter:url"
      content="https://www.dynamictotalservices.com.au/"
    />
    <meta name="twitter:title" content="Dynamic Total Services" />
    <meta name="twitter:description" {content} />
    <meta
      name="twitter:image"
      content="https://res.cloudinary.com/dddjzeutf/image/upload/v1692365778/og-image_gh8bz7.png"
    />
  </head>

  <body class="bg-white text-black">
    <!-- transition:animate={slide({ duration: "0.2s" })} -->
    <header
      transition:persist
      transition:name="header"
      id="head"
      class="flex h-28 justify-between bg-primaryBg text-white items-center px-9 lg:px-[186px]"
    >
      <a href="/" class="flex gap-2 items-center text-lg font-bold"
        ><img
          src="/one-night.png"
          alt="Loot logo"
          class="w-11 h-10 lg:w-14 lg:h-12"
        />
        <p>One night</p></a
      >
      <button id="menu-icon">
        <svg
          width="9"
          height="34"
          viewBox="0 0 9 34"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="lg:hidden"
        >
          <path
            d="M0.417969 16.9987C0.417969 18.1038 0.848177 19.1636 1.61395 19.945C2.37972 20.7264 3.41833 21.1654 4.5013 21.1654C5.58427 21.1654 6.62288 20.7264 7.38865 19.945C8.15443 19.1636 8.58463 18.1038 8.58463 16.9987C8.58463 15.8936 8.15443 14.8338 7.38865 14.0524C6.62288 13.271 5.58427 12.832 4.5013 12.832C3.41833 12.832 2.37972 13.271 1.61395 14.0524C0.848177 14.8338 0.417969 15.8936 0.417969 16.9987ZM0.417969 4.4987C0.417969 5.60377 0.848177 6.66357 1.61395 7.44498C2.37972 8.22638 3.41833 8.66536 4.5013 8.66536C5.58427 8.66536 6.62288 8.22638 7.38865 7.44498C8.15443 6.66357 8.58463 5.60377 8.58463 4.4987C8.58463 3.39363 8.15443 2.33382 7.38865 1.55242C6.62288 0.771018 5.58427 0.332031 4.5013 0.332031C3.41833 0.332031 2.37972 0.771018 1.61395 1.55242C0.848177 2.33382 0.417969 3.39363 0.417969 4.4987ZM0.417969 29.4987C0.417969 30.6038 0.848177 31.6636 1.61395 32.445C2.37972 33.2264 3.41833 33.6654 4.5013 33.6654C5.58427 33.6654 6.62288 33.2264 7.38865 32.445C8.15443 31.6636 8.58463 30.6038 8.58463 29.4987C8.58463 28.3936 8.15443 27.3338 7.38865 26.5524C6.62288 25.771 5.58427 25.332 4.5013 25.332C3.41833 25.332 2.37972 25.771 1.61395 26.5524C0.848177 27.3338 0.417969 28.3936 0.417969 29.4987Z"
            fill="white"></path>
        </svg>
      </button>
      <nav
        id="nav"
        class="flex items-center justify-center py-6 px-14 lg:gap-4 lg:h-auto w-full left-0 fixed h-screen gap-20 transition-transform top-0 lg:w-auto lg:static lg:translate-y-0 lg:py-0 -translate-y-full flex-col lg:flex-row z-50 duration-500 bg-primaryBg"
      >
        <button id="close" class="text-4xl right-12 top-12 fixed lg:hidden">
          X
        </button>
        <a href="./about-us" class="px-3 hover:underline">About</a>
        <a href="./privacy-policy" class="px-3 hover:underline"
          >Privacy policy</a
        >
        <a href="./community-guidelines" class="px-3 hover:underline"
          >Community guidelines</a
        >
      </nav>
    </header>
    <slot
      transition:animate={slide({ duration: "0.4s" })}
      transition:name="main"
    />
    <footer
      transition:name="footer"
      transition:persist
      class="text-center flex gap-4 flex-col bg-primaryBg text-white text-sm font-extralight py-9 px-3 md:px-14 lg:px-32"
    >
      <p class="font-extrabold">One night stand entertainment limited</p>
      <p class="text-xs">© 2024, All rights reserved</p>
    </footer>
    <script is:inline>
      const menuIcon = document.getElementById("menu-icon");
      const closeIcon = document.getElementById("close");
      const navBar = document.getElementById("nav");
      const navItem = document.querySelectorAll(".px-3");

      function menuToggle() {
        menuIcon.setAttribute("aria-expanded", true);
        navBar.classList.remove("-translate-y-full");
      }

      function closeMenu() {
        menuIcon.setAttribute("aria-expanded", false);
        navBar.classList.add("-translate-y-full");
      }

      menuIcon.addEventListener("click", menuToggle);
      closeIcon.addEventListener("click", closeMenu);
      navItem.forEach((element) => {
        element.addEventListener("click", closeMenu);
      });
    </script>
  </body>
</html>
